<%- include("./partials/header"); %>

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Login</h1>
    </div>
    <div class="col-md-12 text-center">
        <form action="/login" method="post">
            <div class="form-group col-sm-4 mx-auto">
                <input class="form-control" name="username" type="text" placeholder="username" />
            </div>
            <div class="form-group col-sm-4 mx-auto">
                <input class="form-control" name="password" type="password" placeholder="password" />
            </div>
            <div class="form-group col-sm-4 mx-auto">
                <button class="btn btn-lg btn-primary btn-block ">Login</button>
            </div>
            <div class="form-group d-flex col-sm-4 row container justify-content-center mx-auto">
                <div class="container col-sm-6 text-left px-0">
                    <a href="/campground">Go Back</a>
                </div>
                <div class="container col-sm-6 text-right px-0">
                    <a href="/reset-password">Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("./partials/footer"); %>
